* {
  margin: 0;
  padding: 0;
  border: 0;
}


body {
  background-image: url("../img/Fondo.jpg");
  font-family: sans-serif;
  margin: center ;
}

p {
  color: rgb(5, 1, 1);
  font-size:100%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}


h3 {
  font-size: 150%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 155%;
  font-weight: 500;
  color: #000b6e;
  text-align: center;
  text-decoration: overline; 
  padding: 0;
}

a {
  color: #000b6e;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #c02251;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

/* Contenedor  Principal */
#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* Contenedor  del Banner */
#banner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 3% 0;
}

/* Cabecera */
header {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
}

/* Estilo del logo */
header #logo img {
  margin: 20px;
  float: left;
  width: 120px;
}

/* Menú  de Navegación*/
nav {
  float: right;
  padding: 25px 20px 0px 0px;
}

ul {
  list-style: none;
}

nav ul li {
  font-size: 150%;
  display: inline-block;
  float: left;
  padding: 10px;
}

nav ul li a {
  color: #000b6e;
}

.current {
  color: #ffffff;
}

a:hover {
  color: #d9ff04;
}


/* Contenedor Seccion Servicios */
.Servicios {
  width: 31%;
  float: left;
  padding: 10px;
  text-align: center;
}
.Pservicios {
  color: rgb(245, 243, 250);
  font-size: 120%;
  line-height: 155%;
  padding: 2%;
  text-indent: 0%;
  text-align: justify;
}
.servicios__contenedor{
  display: flex;
  justify-content:space-around;
  text-align: center;
  
}


.cardscc2 {
  box-shadow: 8px 4px 4px 6px rgba(161, 54, 54, 0.247);
  transition: 0.3s;
  margin: 20px;
  width: 100%;
  text-align:center;
  height: 320px;
  border-radius: 5%; 
  background-color: rgba(45, 165, 155, 0.685);
  
}

/* Contenedor Imagenes Servicios*/
.icon-wrap {
  margin: 0 auto;
  width: 100%;
  height: auto;
  border: 4px solid rgb(45, 165, 155);
  text-align: center;
  margin-top: 1%;
}


/* Imagenes Servicios*/
.icon-wrap img {
  margin: 0 auto;
  width: 350px;
  height: auto;
}

/* Contenedor Seccion Noticias */
.cont-notices {
  text-align: center;
  display: inline-block;
}
/* Sección Cuidado_e_higiene */
.Cuidado_e_higiene {
  width: 10%;
  /* float: left; */
  padding: 10px;
  text-align: center;
  display: inline-block;
}
/*cuidado letra*/
.cuidado_letra{
  text-align: center;
  color: #4472d6;
  text-decoration-color: rgb(47, 89, 204);
  font-size: 40px;
  font-style: oblique;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* Contenedor Imagenes Noticias*/
.Cuidado_e_higiene {
  margin: 0 auto;
  width: 200px;
  height: auto;
  border: 0px solid #ffff;
  text-align: center;
  margin-top: 3%;
}

/* Imagenes Noticias*/
.Cuidado_e_higiene img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

/* Sección Equipo */
.Equipo {
  width: 18%;
  float: left;
  padding: 10px;
  text-align: center;
}

/* Contenedor Imagenes Equipo*/
.icon-team {
  margin: 0 auto;
  width: 200px;
  height: auto;
  border: 2px solid #ffff;
  text-align: center;
  margin-top: 3%;
}

/*Imagenes Equipo*/
.icon-team img {
  margin: 0 auto;
  width: 250px;
  height: auto;
}
.clearfix-padding {
  clear: both;
  padding: 0.5%;
}

/* Sección Footer */
footer {
  background: #000000;
  width: 100%;
  overflow: auto;
}
.icon-text {
  width: 100%;
  margin: 0 auto;
}

.icon-text-icon {
  float: left;
  width: 20%;
  padding: 4%;
}
.icon-text-text {
  float: left;
  width: 60%;
  padding: 4% 4% 2% 0;
  font-size: 
}

.footer-nav {
  text-align: right;
}

.footer-nav a {
  font-size: 160%;
  color: #b8ec3d;
  font-weight: 300;
}

.footer-nav a:hover {
  color: #f5f5f5;
}

.social {
  list-style-type: none;
  text-align: center;
}

.social li {
  display: inline;
}

.social i {
  font-size: 420%;
  margin: 1%;
  padding: 5%;
  color: #c3d7df;
}

.social i:hover {
  color: #adf506;
}

